/* Declare CSS Variables */
:root {
    --border-setting: 1px solid #000;
}

body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    background-color: #41B3A3;
    margin: 0;
}

#footer {
    width: 100%;
    height: 2rem;
    text-align: center;
}

.winner-text {
    font-size: 2.5rem;
    margin-top: 0; 
    text-align: center;
    color: #C38D9E;
    visibility: hidden;
}

#gameboard {
    margin: 50px auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* 
Useful advice on CSS centering using the grid layout:
https://stackoverflow.com/questions/45536537/centering-in-css-grid 
*/
#gameboard .board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    transition: color 0.5s ease-in;
}

.slide-in {
    animation: slide-in 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Player container */
.player-container {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 20px auto;
    color: rgba(0, 0, 0, 0.4);
}

.current-player {
    color: #000;
    background-color: #E27D60;
    transition: background-color 0.3s ease-in;
}

.player-container .player {
    padding: 10px 20px;
    border-radius: 15px;
}

.player-scores {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#player1 {
    margin-right: 10px;
}

/* Tic Tac Toe board outline */
.horizontal-left,
.horizontal-right,
.center {
    border-bottom: var(--border-setting);
}

.horizontal-left,
.bottom-left {
    border-right: var(--border-setting);
}

.horizontal-right,
.bottom-right {
    border-left: var(--border-setting);
}

/* Winning Squares */
.winning-square {
    color: #E27D60;
}

@keyframes slide-in {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 4em;
    }
}