#modal {
    transition: height 0.3s ease-in;
}

.modal {
    color: #000;
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #85DCBA;
}

#modalBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

#modalBtn:hover {
    transform: rotate(90deg);
    transition: 0.3s linear;
}

.modal-content {
    padding: 1em;
    width: 100%;
}

.ai-selection {
    font-size: 25px;
    position: absolute;
    left: 8%;
    top: 20%;
}

.ai-selection .section-title {
    display: inline-block;
    opacity: 0.7;
}

.toggle-mode {
    border: 2px solid #E27D60;
    border-radius: 30px;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

.ai-normal:hover,
.ai-normal-on {
    background-color: #E8A87C;
    transition: 0.3s ease;
}

.ai-insane {
    font-family: 'Mountains of Christmas', cursive;
}

.ai-insane:hover,
.ai-insane-on {
    color: #fff;
    background-color: #7a0012;
    letter-spacing: 5px;
}

.ai-insane:hover img,
.ai-insane-on img {
    background-color: #eee;
    border-radius: 50%;
    transform: rotate(25deg);
}

.ai-enabled {
    opacity: 0.2;
}

/* Style the toggle switch */
#slider {
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #41B3A3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #E8A87C;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#changes-saved {
    position: absolute;
    top: 1em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 200;
    opacity: 50%;
    color: #000;
    display: none;
    text-decoration: underline;
}

.player-names {
    position: relative;
    background-color: #41B3A3;
    border-radius: 10px;
    width: 600px;
    margin: 100px auto;
    padding: 2em 2em 0.5em 2em;
}

.player-names * {
    display: block;
}

.player-names label {
    text-align: center;
    font-size: 1.5em;
    opacity: 0.6;
}

.player-names input[type=text] {
    width: 60%;
    padding: 10px 15px;
    margin: 15px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #85DCBA;
}

.player-names input[type=text]::placeholder {
    font-size: 1.3em;
}

.player-names input[type=submit] {
    width: 30%;
    font-size: 1em;
    padding: 10px 15px;
    margin: 25px auto;
    border: 1px solid #85DCBA;
    border-radius: 2px;
}

.player-names input[type=submit]:hover {
    background-color: #E8A87C;
    transition: 0.3s linear;
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0.3em;
    color: #000;
    font-size: 3em;
    transition: color 0.2s ease-in;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #E27D60;
    text-decoration: none;
    cursor: pointer;
}